<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <style>
        body {
            padding-top: 20px;
            text-align: center;
        }

        .btn-container {
            display: flex;
            justify-content: center;
            gap: 20px;
            margin-top: 20px;
        }
    </style>
</head>

<body>
    <div class="container">
        <h1>Welcome to Main Page</h1>
        <div class="btn-container">
            <a href="na_db" class="btn btn-primary btn-lg">명노아</a>
            <a href="sm_db" class="btn btn-primary btn-lg">이시명</a>
            <a href="jy_db" class="btn btn-primary btn-lg">변주영</a>
            <a href="hw_db" class="btn btn-primary btn-lg">양현우</a>
        </div>
    </div>
</body>

</html>