<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>긍정, 부정 판별 모델</title>
</head>
<body>
    <form method="post" action="/hw_db/result">
        <fieldset>
            <title>입력하세요</title>
            <p>
                <label for="story">내용 : </label>
                <textarea id="story" name="story" placeholder="긍정적인 내용인가 부정적인 내용인가 판별할 글을 입력해 주세요"></textarea>
                <input type="submit" value="제출">
            </p>

        </fieldset>
    </form>
</body>
</html>