<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Summary Program</title>
    <style>
        .center {
        text-align: center;
        height: 100vh; /* 화면 전체 높이로 설정 */
        }
    </style>
</head>
<body>
    <div class="center">
        <br>
        <h3>요약하고 싶은 영어 리뷰를 입력하세요 :D</h3>
        <form action="{{url_for('JY.index')}}" method="POST">
        {% if not input_sentence %}
            <textarea name="input_sentence" cols="50" rows="15" placeholder="입력 텍스트" spellcheck="false"></textarea><br>
            <input type="submit" value="Go!"><br><br>
            <textarea name="summary_default" cols="50" rows="3" placeholder="요약된 문장이 여기에 표시됩니다." spellcheck="false"></textarea><br>
        {% else %}
            <textarea name="input_sentence" cols="50" rows="15" spellcheck="false">{{input_sentence}}</textarea><br>
            <input type="submit" value="Go!"><br><br>
        {% endif %}
        {% if summary_result %}
            <textarea name="summary_result" cols="50" rows="3" spellcheck="false">{{summary_result}}</textarea><br>
            <input type="submit" name="db_check" value="DB보기">
            <input type="submit" name="db_add" value="DB등록">
        {% endif %}
        </form>
    </div>
</body>
</html>